* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
}
.container {
  height: 100vh;
  display: grid;
  place-items: center;
}
.gameGrid {
  display:flex;
  width: 90vw;
  flex-wrap: wrap;
  border: 1px solid #333;
  padding: 2px;
}
.gameCells {
  display:block;
  width:  30vw;
  max-width: 25rem;
  border: 3px solid #333;
  margin: -1px;
  aspect-ratio: 1/1;
}
