* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
  font-family: 'Open Sans', sans-serif;
  .container {
    display: grid;
    place-items: center;
  }
}