@import './_base.scss', './_colors.scss';

.container {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: auto 4rem;
  background: url('../images/background.jpg') center no-repeat;
  background-size: cover;
  place-items: center;
  .pageCard {
    min-width: 60vh;
    max-width: 800px;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border-radius: 3rem;
    padding: 3rem;
    color: #fff;
    text-align: center;
    h1 {
      font-size: 3rem;
    }
  }
  .links {
    height: 4rem;
    background-color: $pale-silver;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    color: #333333;
    bottom: 0;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    bottom: 0;

    .link {
      padding: 10px;
      font-weight: 700;
      &:hover{
        background-color: rgba(255, 255, 255,0.5)
      }
    }
  }
}
