* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
  font-family: 'Open Sans', sans-serif;
  .container {
    height: 100vh;
    display: grid;
    place-items: center;
    background-color: yellow;
    background:'/images/background.jpg';
    .pageCard {
      min-height: 50vh;
      min-width: 60vh;
      max-width: 800px;
    }
  }
}