@import './_base.scss', './_colors.scss';

.container {
  height: 100vh;
  background-color:lightblue;
  .title {
    display: block;
    background: $han-blue;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    margin-bottom:24px;
    h1 {
      font-size: 1.5rem;
      font-weight: 500;
      margin:0;
      padding: 1rem;
      color:#fff;
    }
  }
  .playerInfo {
    display:grid;
    grid-template-columns: repeat(2, 50%);
    max-width: 80vw;
    margin: 0 auto;
    padding: 1rem;
    gap: 1rem;
    .playerNames {
      display:grid;
      place-items: center;
      line-height: 2rem;
      text-align:center;
      aspect-ratio: 2/1;
      max-height: 10vh;
      &.active {
        background:$glaucous;
        color:#fff;
        font-weight: 300;
      }
      &:hover {
        background-color:rgba(0,0,0,0.2);
        color:#333;
      }
    }
  }
  .game-container {
    min-height: 50vh;
    .gameGrid {
      background-image:paint(checkerboard);
      display:grid;
      grid-template-rows: repeat(3,min(33%, 30vh));
      grid-template-columns: repeat(3,min(33%, 30vh));
      place-content: center;
      .gameCells{
        aspect-ratio:1;
        display:grid;
        place-items: center;
        &.cross::after {
          content:'X';
          font-size:2rem;
        }
        &.circle::after {
          content:'O';
          font-size:2rem;
        }
      }
    }
  }
  .scoreBar {
    display:grid;
    grid-template-columns: repeat(2, 4rem);
    width:auto;
    margin:0 auto;
    max-width: 10rem;
    padding:1rem;
    gap: 1rem;
    .card{
      aspect-ratio: 1/1;
      width:4rem;
      font-size:2rem;
      background:$cadet-blue-crayola;
    }
  }

  @media screen and (min-width:599px) {
    display:grid;
    grid-template-rows: calc(3.5rem + 32px) 5rem auto;
    grid-template-columns: 30vw auto;
    gap: 0;
    .title{
      grid-column: 1/ span 2;
    }
    .playerInfo{
      width: calc(30vw - 1rem);
      padding:0;
      gap:0;
      .playerNames {
        max-height: initial;
        aspect-ratio:auto;
      }
    }
    // .game-container {
    //   .gameGrid {
    //     // grid-template-rows: repeat(3,20vw);
    //     // grid-template-columns: repeat(3,20vw);
    //   }
    // }
    .scoreBar {
      width: calc(30vw - 1rem);
      grid-template-columns: repeat(2, 50%);
      max-width: initial;
      padding:3rem 0;
      .card {
        width:100%;
      }
    }
  }
}